.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 3em 2em;
}

.cabecalho__menu-hamburguer {
    width: 2em;
    height: 2em;
    background-image: url("../img/burger\ icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
    
}

.container__imagem {
    padding: 1em;
}

.lista-menu{
    display: none;   
    position: absolute;
    top: 100%;
    width: 100%;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.container__botao {
    display: none;
}

.chamada{
    margin: 1.5em 2em;
}

.texto__principal{
    font-size: 48px;
    font-weight: 700;
    padding-right: 2em;
}

.texto__secundario {
    font-size: 16px;
    margin-top: 2em;
    margin-right: 2em;
}


