body, html {
    height: 100%;
}


.imagem__fundo-linha {
    position: absolute;
    right: 0;
    top: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 3em 2em;
}

.cabecalho__menu-hamburguer {
    width: 2em;
    height: 2em;
    background-image: url("../img/burger\ icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
    
}

.container__imagem {
    padding: 1em;
}

.lista-menu{
    display: none;   
    position: absolute;
    top: 100%;
    width: 100%;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.container__botao {
    display: none;
}

.chamada{
    margin: 1.5em 2em;
}

.texto__principal{
    font-size: 48px;
    font-weight: 700;
    padding-right: 2em;
}

.texto__secundario {
    font-size: 16px;
    margin-top: 2em;
    margin-right: 2em;
    line-height: 28px;
}

.botao {
    display: flex;  
    background-color: #5468E7;
    padding: 1.5em;
    text-align: center;
    width: 65%;
    color: white;
    border-radius: 8px;   
}

.secundario__chamada {
    width: 100vw;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: nowrap;
    background-color: black;
    
}

.fim-da-pagina-principal {
    margin-top: 3em;
    background-color: red;
    width: 50%;
    margin-top: 0;
    margin-left: 1.5em;
    display: flex;
    justify-content: center;
}

.imagem-da-pagina{
    position: absolute;
    width: 30%;  
    
}




