@import url("about.css");

body, html {
    font-family: 'Montserrat', sans-serif;
}


.imagem__fundo-linha {
    position: absolute;
    right: 0;
    top: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 2em 2em;
}

.cabecalho__menu-hamburguer {
    width: 2em;
    height: 2em;
    background-image: url("../img/burger\ icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
    
}

.container__imagem {
    padding: 1em;
}

.lista-menu{
    display: none;   
    position: absolute;
    top: 100%;
    width: 100%;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.container__botao {
    display: none;
}

.chamada{
    margin: 1.5em 2em;
}

.texto__principal{
    font-size: 48px;
    font-weight: 700;
    padding-right: 2em;
    line-height: 56px;
}

.texto__secundario {
    font-size: 16px;
    margin-top: 2em;
    margin-right: 2em;
    line-height: 28px;
}

.botao {
    display: block;  
    background-color: #5468E7;
    padding: 1.5em;
    text-align: center;
    justify-content: center;
    width: 35%;
    margin-left: .5em;
    color: white;
    border-radius: 8px;
    position: absolute;   
}

.secundario__chamada {
    width: 100vw;
    
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: nowrap;

}

.botao__principal {
    margin-top: 3em;
    width: 50%;
    margin-top: 0;
    margin-left: 1.5em;
    display: block;
    justify-content: center;
}

.imagem__pagina-principal{
    position: relative;     
    display: flex;
    
}

.imagem__pc-grafico{
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -10vh;
    margin-bottom: 1.5em;
    box-sizing: border-box;
}




